.title_bg {
    width: 1224px;
    height: 850px;
    z-index: 4;
}

.top_text {
    padding-left: 350px;
    padding-top: 450px;
    color: white;
    font-size: 40px;
    text-shadow: #858484 3px 3px;
}

.top_text h1 {
    padding-top: 30px;
}

.info {
    position: relative;
}

.info::before {
    content: "";
    position: absolute;
    background-color: #96B598;
    opacity: 0.5;
    width: 1200px;
    height: 450px;
    z-index: 1;
}

.info_nav {
    display: flex;
    padding-bottom: 100px;
    padding-left: 100px;
    position: absolute;
    z-index: 3;
}

.info_left {
    padding-top: 150px;
}

.info_left h1 {
    font-size: 30px;
    padding-bottom: 130px;
}

.info_right {
    width: 500px;
    padding-top: 140px;
    padding-left: 100px;
}

.info_right p {
    padding-bottom: 20px;
    padding-top: 15px;
    border-bottom: 1px solid #404040;
}

.info_right strong {
    color: #777777;
}


/*---------------------------------------------------
CONCEPT */
.con_inner {
    display: flex;
    justify-content: space-between;
    padding-top: 550px;
}

.con_left {
    width: 50%;
}

.con_left img {
    width: 77%;
}

.con_right {
    width: 24%;
    padding-top: 290px;
    padding-right: 250px;
}

.con_title {
    display: flex;
}

.con_title img {
    width: 20px;
    height: 20px;
}

.con_title p {
    font-size: 15px;
    padding-bottom: 7px;
}

.main_title{
    font-size: 28px;
    letter-spacing: 3px;
    padding-bottom: 20px;
}

.text {
    letter-spacing: 3px;
    line-height: 35px;
    padding-bottom: 70px;
}

.con_right a {
    margin-left: 80px;
}


/*-----------------------------------------------
FEATURE */
.feature {
    padding-top: 200px;
}

.fea_box {
    position: relative;
    text-align: center;
}

.fea_box img {
    width: 70%;
    height: 500px;
}

.fea_inner {
    display: flex;
    position: absolute;
    top: 0;
    text-align: center;
    width: 70%;
}

.fea_left{
    display: flex;
    margin-left: 35%;
    margin-top: 25%;
}

.fea_left p {
    color: #fff;
}

.fea_left img {
    width: 40px;
    height: 40px;
}

.fea_left p {
    font-size: 35px;
}

.fea_right {
    width: 44%;
    margin-left: 70px;
    margin-top: 18%;
}

.fea_right p {
    color: #fff;
}

.fea_right .button {
    color: #fff;
    font-size: 15px;
    padding: 15px 60px 15px 60px;
    border: solid #fff 1px;
    border-radius: 6px;
    background-color: rgba(150,181,152,0);
    transition: .4s;
}

.fea_right .button:hover {
    background-color: #fff;
    border: solid #fff 1px;
    color: #404040;
    border-radius: 6px;
}


/*-----------------------------------------------
SERVICE */
.ser_title {
    display: flex;
    margin-top: 200px;
    margin-left: 610px;
}

.ser_title img {
    width: 40px;
    height: 40px;
}

.ser_title p {
    font-size: 35px;
}

.ser_inner {
    display: flex;
    padding-top: 150px;
}

.ser_inner::before {
    content: "";
    position: absolute;
    background-color: #96B598;
    opacity: 0.5;
    width: 1300px;
    height: 480px;
    z-index: 1;
}

.ser_left1 {
    position: absolute;
    z-index: 3;
    width: 27%;
    padding-top: 200px;
    padding-right: 100px;
    padding-left: 150px;
}

.ser_left1 p {
    font-size: 17px;
    letter-spacing: 4px;
    line-height: 29px;
    padding-bottom: 60px;
}

.ser_left1 .button {
    margin-left: 80px;
}

.ser_right1 {
    position: absolute;
    z-index: 2;
    padding-left: 650px;
    padding-top: 50px;
}

.ser_inner img {
    width: 600px;
    height: 500px;
}

.ser_inner2 {
    display: flex;
    padding-top: 650px;
    padding-left: 150px;
}

.ser_inner2::before {
    content: "";
    position: absolute;
    background-color: #96B598;
    opacity: 0.5;
    width: 1286px;
    height: 450px;
    z-index: 1;
}

.ser_left2 {
    position: absolute;
    z-index: 2;
    padding-right: 50px;
    padding-top: 50px;
    padding-left: 50px;
}

.ser_right2 {
    position: absolute;
    z-index: 2;
    width: 27%;
    padding-top: 200px;
    padding-left: 800px;
}

.ser_right2 p {
    font-size: 17px;
    letter-spacing: 4px;
    line-height: 29px;
    padding-bottom: 60px;
}

.contact {
    margin-top: 700px;
}

@media screen and (max-width: 480px){
    .title_bg {
        padding-left: 0;
        width: 100%;
        height: 600px;
    }

    .top_text {
        padding-left: 10px;
        padding-top: 250px;
    }

    .top_text h1 {
        padding-top: 35px;
    }

    .info_left {
        margin-left: 30px;
        padding-top: 50px;
    }

    .info_left h1{
        padding-bottom: 100px;
        padding-left: 65px;
    }

    .info_right {
        display: none;
    }

    .info::before {
        width: 100%;
        height: 250px;
    }

    .con_inner {
        padding-top: 400px;
    }

    .con_left {
        display: none;
    }

    .con_title {
        padding-left: 50px;
        padding-bottom: 40px;
    }

    .con_title p {
        font-size: 35px;
        padding-top: 5px;
    }

    .con_title img {
        width: 50px;
        height: 50px;
    }

    .con_right {
        padding: 0 0 0 15%;
        width: 70%;
    }

    .con_right a {
        margin-left: 65px;
    }

    .main_title {
        text-align: center;
    }

    .text {
        text-align: center;
    }

    .fea_box img {
        width: 80%;
        height: 580px;
    }

    .fea_inner {
        display: block;
    }

    .fea_left {
        margin-left: 40%;
    }

    .fea_left img {
        width: 45px;
        height: 45px;
    }

    .fea_right {
        width: 80%;
        margin-left: 110px;
    }

    .ser_title {
        margin-left: 150px;
        margin-bottom: 50px;
    }

    .ser_inner {
        padding-top: 0px;
        width: 100%;
    }

    .ser_inner::before {
        width: 100%;
        height: 560px;
    }

    .ser_inner img {
        width: 380px;
        height: 250px;
    }

    .ser_left1 {
        width: 60%;
        padding-left: 20%;
        padding-right: 0px;
        padding-top: 330px;
    }

    .ser_left1 p {
        text-align: center;
    }

    .ser_left1 .button {
        margin-left: 40px;
    }

    .ser_right1 {
        padding-left: 50px;
    }

    .ser_inner2 {
        display: flex;
        padding-top: 650px;
        padding-left: 0px;
    }

    .ser_inner2::before {
        width: 100%;
        height: 560px;
    }

    .ser_inner2 img {
        width: 380px;
        height: 250px;
    }

    .ser_right2 {
        width: 60%;
        padding-left: 20%;
        padding-right: 0px;
        padding-top: 330px;
    }

    .ser_right2 p {
        text-align: center;
    }

    .ser_right2 .button {
        margin-left: 40px;
    }

    .ser_left2 {
        padding-left: 50px;
    }

}